.content {
  background-color: yellow;
  flex: 1;
  height: 500px;
}

.footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}
.content {
  background-color: black;
}
.text-pruebas {
  background-color: grey;
  width: 100px;
  padding: 4rem;
}
